body {
    background-color: rgb(231, 238, 255);
    color: #222;
}

#container {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 32px;
    background: #082c7a;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#left-profile {
    display: flex;
    gap: 32px;
    align-items: center;
}

#photo {
    width: 120px;
    height: 120px;
    background: #bdbdbd;
    border-radius: 50%;
}

#name {
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}

#social {
    display: flex;
    gap: 16px;
}

#social div {
    width: 48px;
    height: 48px;
    background: #d0d0d0;
}


#content {
    display: flex;
    gap: 72px;
}

#h3 {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 8px;
    color: #082c7a;
}

#left-column {
    width: 40%;
}

#info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 16px;
}

#about {
    line-height: 1.6;
    font-size: 16px;
}

#card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

#image {
    width: 70px;
    height: 70px;
    background: #c4c4c4;
    border-radius: 12px;
    flex-shrink: 0;
}

#card-text {
    display: flex;
    flex-direction: column;
}

#h4 {
    font-size: 16px;
    margin-bottom: 4px;
}

#sub {
    font-size: 14px;
    margin-bottom: 4px;
}

#date {
    font-size: 13px;
    color: #666;
    margin-bottom: 8px;
}

#details {
    font-size: 13px;
    color: #333;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }
}